# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
**/.idea/
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
**/.vscode/
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

out/

# Client app libs and artifacts
admin-console-ui/.quasar/
admin-console-ui/dist/
admin-console-ui/node_modules/
admin-console/src/main/resources/META-INF/resources/
